<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="index.css" />

  <title>QWIXX Sheet - by Piña</title>
  <link rel="icon" type="image/x-icon" href="pina.png" />
  <link rel="apple-touch-icon" href="pina.png" />

  <link rel="manifest" href="manifest.json" />
  <meta name="apple-mobile-web-app-status-bar" content="#000" />
  <meta name="theme-color" content="#000" />
</head>

<body>
  <main>
    <div id="app">
      <div
        class="board"
        :class="{ rotate: rotate }"
        :style="{ '--cell-size': cellSize + 'px' }"
      >
        <div class="row" :class="'color' + row_i" v-for="(row, row_i) in rows">
          <div
            v-for="(cell, cell_i) in row"
            class="cell-wrapper"
            :class="'color' + cell[1]"
          >
            <div
              class="cell number"
              :class="[
                {
                  'marked': marks[row_i].has(cell_i),
                  'blocked': maxMark(row_i) > cell_i || isLocked(row_i),
                },
              ]"
              @click="mark(row_i, cell_i)"
            >
              {{cell[0]}}
              <i class="fa fa-times"></i>
            </div>
          </div>

          <div
            class="cell block"
            :class="{ 'marked': isLocked(row_i) }"
            @click="lock(row_i)"
          >
            <i
              class="fa"
              :class="isLocked(row_i) ? 'fa-lock' : 'fa-unlock-alt'"
            ></i>
          </div>

          <div class="cell-wrapper">
            <div class="cell">{{score(row_i)}}</div>
          </div>
        </div>

        <div class="row">
          <div class="cell block restart" @click="openOverlay">
            <i class="fa fa-refresh"></i>
          </div>
          <div class="cell block restart" @click="openModeOverlay">
            <i class="fa fa-sliders"></i>
          </div>

          <div class="cell block undo" @click="undo">
            <i class="fa fa-undo"></i>
          </div>
          <div class="cell history" :class="'color' + lastColor()">
            {{ lastNum() }}
          </div>

          <div class="cell empty" v-for="_ in 3"></div>

          <div class="cell life" v-for="(status, i) in lives" @click="life(i)">
            <i v-if="status" class="fa fa-times"></i>
          </div>
          <div class="cell">{{livesScore()}}</div>

          <div class="cell">{{totalScore()}}</div>
        </div>
      </div>
      <div
        v-if="resetOverlay"
        class="overlay"
        :style="{ '--cell-size': cellSize + 'px' }"
        :class="{ rotate: rotate }"
        @click.self="closeOverlay"
      >
        <div class="card">
          Are you sure you want to restart the game?

          <div class="buttons">
            <button class="cancel" @click="closeOverlay">Cancel</button>
            <button class="restart" @click="reset">Restart</button>
          </div>
        </div>
      </div>
      <div
        v-if="modeOverlay"
        class="overlay"
        :style="{ '--cell-size': cellSize + 'px' }"
        :class="{ rotate: rotate }"
        @click.self="closeModeOverlay"
      >
        <div class="card">
          Do you want to change the game mode?

          <div class="buttons">
            <button class="cancel" @click="closeModeOverlay">Cancel</button>
            <button
              v-for="mode in Object.keys(modes)"
              class="restart"
              @click="selectMode(mode)"
            >
              {{ mode }}
            </button>
          </div>
          <div class="buttons seedInput">
            <label for="seed">Random Seed:</label>
            <input type="text" :value="randomSeed" id="seed" />
          </div>
          <div class="buttons"></div>
        </div>
      </div>
    </div>
  </main>

  <script src="index.js"></script>
</body>
